table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
caption{
    color: #d4cdab;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color: #dce2bd; ;
    background-color: #8e9b90;
}
tr:nth-child(even){
    background-color: #dfe5c3;
}
tr:nth-child(odd){
    background-color: #b6c4a2;
}
.claseLibre{
    background-color: #93c0a4;
}